section.section-wrap.clearfix
	.container
		.banner-wrap
			.banner
				img(src="img/banner/1.jpg", alt="")
				.banner-caption
					h1.bigcap Ước mơ thành công
						br
						|đưa bạn ra thế giới
					h2.smallcap Nhận học bổng toàn phần tại
						br
						|Western Sydney University
					a.hvr-shutter-out-horizontal.link(href="#") Xem chương trình
			.tool
				ul 
					li
						a(href="#") <i class="material-icons">lock_outline</i>
							span Đăng ký
					li
						a(href="#") <i class="material-icons">perm_contact_calendar</i>
							span Bình chọn
					li
						a(href="#") <i class="material-icons">spellcheck</i>
							span Trắc nghiệm
					li
						a(href="#") <i class="material-icons">help_outline</i>
							span Hỏi đáp
