section.home-step.clearfix
	.container
		h1.home-title Chương trình thực hiện ước mơ lần 5
		.home-des.text-xs-center 200.000 cơ hội cho các bạn học sinh THPT từ Đà Nẵng đến Cà Mau. Hãy chia sẻ câu chuyện về ước mơ nghề nghiệp của bạn để vươn thật xa trong tương lai với suất  Học bổng Toàn phần tại Western Sydney University (UWS), Úc.
		section.step-list.clearfix
			.row
				article.col-12.col-sm-6.col-lg-3.step-col
					.step 
						.number 01
						.name Vòng sơ loại
						time 20/03/2017 - 30/03/2017
						.icon 
							img(src="img/icon/i1.png", alt="")
						.des Tham gia các bài thi Online.
						.btn-wrap
							.label Đang diễn ra
							a.viewnow(href="#") Xem ngay!
				article.col-12.col-sm-6.col-lg-3.step-col
					.step 
						.number 02
						.name Vòng bán kết 1
						time 02/04/2017 - 12/04/2017
						.icon 
							img(src="img/icon/i2.png", alt="")
						.des Hội Đồng Giám khảo đưa ra kết quả thí sinh được chọn.
						.btn-wrap
							.label Đang diễn ra
							a.viewnow(href="#") Xem ngay!
				article.col-12.col-sm-6.col-lg-3.step-col
					.step 
						.number 03
						.name Vòng bán kết 2
						time 13/04/2017 - 22/04/2017
						.icon 
							img(src="img/icon/i3.png", alt="")
						.des Chia sẻ câu chuyện ước mơ qua video clip và kêu gọi bình chọn.
						.btn-wrap
							.label Đang diễn ra
							a.viewnow(href="#") Xem ngay!
				article.col-12.col-sm-6.col-lg-3.step-col.active
					.step 
						.number 04
						.name Vòng chung kết
						time 23/04/2017 - 30/04/2017
						.icon 
							img(src="img/icon/i4.png", alt="")
						.des Công bố Quán quân và Á quân.
						.btn-wrap
							.label Đang diễn ra
							a.viewnow(href="#") Xem ngay!
.container
	section.home-intro.clearfix
		figure 
			.intro-img
				img(src="img/banner/intro.jpg", alt="")
			figcaption
				.title Western Sydney University
				.des Top 3% các trường đại học
					br
					|hàng đầu thế giới
				a.link(href="#") Xem thêm
section.home-news.clearfix
	.container
		h2.home-title TIN TỨC & SỰ KIỆN
		.news-list.clearfix
			.row
				.col-12.col-lg-4
					article.news-col
						time 
							.date 12
							.month 08/17
						h3.news-name
							a(href="#") Ước mơ truyền cảm hứng cho giới trẻ
						.news-des Trên đời, không có ước mơ nào cao đẹp hơn ước mơ nào, miễn là nó chính đáng và chân thành. Tuy nhiên, có những ước mơ mang lại nhiều cảm hứng cho người khác.
						a.link(href="#") Xem thêm
				.col-12.col-lg-4
					article.news-col
						time 
							.date 18
							.month 08/17
						h3.news-name
							a(href="#") Làm trái nghề: Quan trọng là tạo ra giá trị lao động
						.news-des “Với tôi, tôi vẫn sẽ khuyến khích con mình lựa chọn những ngành, nghề phù hợp với sở thích, năng lực của nó và nhu cầu của xã hội. Cho dù ngành nghề đó không hot đi chăng nữa…”
						a.link(href="#") Xem thêm
				.col-12.col-lg-4
					article.news-col
						time 
							.date 24
							.month 08/17
						h3.news-name
							a(href="#") Vượt qua 130.000 đối thủ, Đặng Vũ Bảo giành quán quân thực hiện ước mơ 5
						.news-des Đặng Vũ Bảo (THPT bảo Lộc, lâm Đồng), đã xuất sắc giành giải thưởng cao nhất với 1 suất học bổng tại ĐH Western Sydney (Úc) trị giá tối thiểu 75.000 đô la Úc
						a.link(href="#") Xem thêm
section.home-develop.clearfix
	.container
		h2.home-title GÓC HƯỚNG NGHIỆP & CHIA SẺ
		.row
			.col-12.col-lg-9
				.row
					article.col-12.col-md-4
						.news-col.col1
							figure 
								a.news-img(href="#")
									img(src="img/news/h1.jpg", alt="")
								figcaption
									h3.news-name
										a(href="#") Dương Ái Khuê: Khát vọng khởi nghiệp của nữ doanh nhân tương lai
									.news-des Kế thừa truyền thống kinh doanh của gia đình cùng với cá tính mạnh mẽ, quyết đoán, Dương Ái Khuê, học sinh lớp 11V...,
					article.col-12.col-md-8
						.news-col.col2
							figure
								a.news-img(href="#")
									img(src="img/news/h2.jpg", alt="")
								figcaption
									h3.news-name
										a(href="#") Hành trình từ "ZERO" đến "HERO" của Oprah Winfrey
					article.col-12.col-md-4
						.news-col.col3
							figure
								a.news-img(href="#")
									img(src="img/news/h3.jpg", alt="")
								figcaption
									h3.news-name
										a(href="#") Cải thiện thể lực để làm công an
									.news-des Công an là một nghề đòi hỏi thể lực rất tốt bên cạnh việc xét tuyển, thi tuyển khiến không ít học sinh gặp khó khăn. Bạn Phan Thành Đô (12A1 trường THPT Gò Quao, Kiên Giang) quyết tâm chinh phục trở ngại này.
					article.col-12.col-md-4
						.news-col.col3
							figure
								a.news-img(href="#")
									img(src="img/news/h4.jpg", alt="")
								figcaption
									h3.news-name
										a(href="#") Những ước mơ "Không đụng hàng"
									.news-des Có thể những ngành mà teen lựa chọn không phải là ngành “hot”, cũng có thể là những ngành đòi hỏi phải bỏ rất nhiều công sức để nghiên cứu sâu rộng. 
					article.col-12.col-md-4
						.news-col.col4
							figure
								figcaption
									h3.news-name
										a(href="#") Phù Ngọc Thanh: “Mình sẽ tự chế tạo một loại thuốc trị bệnh”
									.news-des Ước mơ của Thanh đến một cách rất ngẫu nhiên. Hôm đó là ngày Thanh đạt được Huy chương Đồng Olympic Hóa học khối 10. Bạn cảm thấy rất tự tin và hứng thú với môn Hóa và đã nhận ra mình cũng rất thích tìm hiểu về thuốc nên đã quyết định theo ngành Dược. Cô bạn thường lấy những loại thuốc mà mình hay sử dụng rồi xem tác dụng, tác dụng phụ và khả năng phối hợp của nó.
			.col-12.col-lg-3
				section.home-video
					.sidebar-title video
					.row
						.col-12.col-md-4.col-lg-12
							.video
								figure 
									a.video-img(href="#")
										img(src="img/news/v1.jpg", alt="")
									figcaption
										h3.video-name
											a(href="#") Chung kết thực hiện ước mơ 5
						.col-12.col-md-4.col-lg-12
							.video
								figure 
									a.video-img(href="#")
										img(src="img/news/v2.jpg", alt="")
									figcaption
										h3.video-name
											a(href="#") Vietnamese Make Your Dream Come True Promo
						.col-12.col-md-4.col-lg-12
							.video
								figure 
									a.video-img(href="#")
										img(src="img/news/v3.jpg", alt="")
									figcaption
										h3.video-name
											a(href="#") Để không đánh mất phần đời còn lại
					a.btn-viewmore(href="#") Xem thêm
section.home-social.clearfix
	.container
		h2.home-title SOCIAL
		.social-slide
			.item
				article.social-col
					figure 
						a.social-img(href="#")
							img(src="img/news/s1.jpg", alt="")
						figcaption
							.des Hóng lí do bá đạo nhất từ chế!! Và tag đồng minh của mình vào nhé
							.fb-info 
								.info
									a.avt(href="#")
										img(src="img/news/avt.jpg", alt="")
									a.name(href="#") Thực Hiện Ước Mơ 
									time 28 tháng 7
								a.link(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
			.item
				article.social-col
					figure 
						a.social-img(href="#")
							img(src="img/news/s2.jpg", alt="")
						figcaption
							.des Khai thật đi, các bạn có từng không??? Chứ ad đã từng tin vào nó và đã bị phạt úp mặt vào bảng rồi đấy
							.fb-info 
								.info
									a.avt(href="#")
										img(src="img/news/avt.jpg", alt="")
									a.name(href="#") Thực Hiện Ước Mơ 
									time 28 tháng 7
								a.link(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
			.item
				article.social-col
					figure 
						a.social-img(href="#")
							img(src="img/news/s3.jpg", alt="")
						figcaption
							.des QUÁ ĐÃ CÁC BẠN ƠI!!! Cinestar Hai Bà Trưng đang chạy chương trình khuyến mãi dành cho HS-SV.
							.fb-info 
								.info
									a.avt(href="#")
										img(src="img/news/avt.jpg", alt="")
									a.name(href="#") Thực Hiện Ước Mơ 
									time 28 tháng 7
								a.link(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
			.item
				article.social-col
					figure 
						a.social-img(href="#")
							img(src="img/news/s4.jpg", alt="")
						figcaption
							.des Cinestar Hai Bà Trưng khai trương Rạp mới, phim hay, nhận quà liền tay!
							.fb-info 
								.info
									a.avt(href="#")
										img(src="img/news/avt.jpg", alt="")
									a.name(href="#") Thực Hiện Ước Mơ 
									time 23 tháng 6
								a.link(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
			.item
				article.social-col
					figure 
						a.social-img(href="#")
							img(src="img/news/s1.jpg", alt="")
						figcaption
							.des Hóng lí do bá đạo nhất từ chế!! Và tag đồng minh của mình vào nhé
							.fb-info 
								.info
									a.avt(href="#")
										img(src="img/news/avt.jpg", alt="")
									a.name(href="#") Thực Hiện Ước Mơ 
									time 28 tháng 7
								a.link(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
section.home-partner.clearfix
	.container
		.row
			.col-12.col-lg-6
				.title Đơn vị tổ chức
				.row
					.col-6.col-sm-6.col-md-4
						a.partner(href="#")
							img(src="img/partner/1.png", alt="")
					.col-6.col-sm-6.col-md-4
						a.partner(href="#")
							img(src="img/partner/2.png", alt="")
					.col-6.col-sm-6.col-md-4
						a.partner(href="#")
							img(src="img/partner/3.png", alt="")
					.col-6.col-sm-6.col-md-4
						a.partner(href="#")
							img(src="img/partner/4.png", alt="")
					.col-6.col-sm-6.col-md-4
						a.partner(href="#")
							img(src="img/partner/5.png", alt="")
					.col-6.col-sm-6.col-md-4
						a.partner(href="#")
							img(src="img/partner/6.png", alt="")
			.col-12.col-md-8.col-lg-4
				.title Đơn vị hỗ trợ, bảo trợ thông tin
				.row
					.col-6.col-sm-6
						a.partner(href="#")
							img(src="img/partner/7.png", alt="")
					.col-6.col-sm-6
						a.partner(href="#")
							img(src="img/partner/8.png", alt="")
					.col-6.col-sm-6
						a.partner(href="#")
							img(src="img/partner/9.png", alt="")
					.col-6.col-sm-6
						a.partner(href="#")
							img(src="img/partner/10.png", alt="")
			.col-12.col-md-4.col-lg-2
				.title Đơn vị tài trợ học bổng
				.university-logo
					img(src="img/partner/11.png", alt="")
		.intro2
			img(src="img/banner/intro2.jpg", alt="")
			.caption.text-center
				.intro-title Western Sydney University
				.des Chắp cánh cho ước mơ nghề nghiệp
