footer
	.container
		.row
			.col-custom
				section.footer-col
					.logo
						img(src="img/logo2.png", alt="")
					.copyright Bản quyền © 2017 thuộc về 
						br
						|Thực Hiện Ước Mơ.
					.social
						a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
			.col-custom
				section.footer-col
					.title Giới thiệu
					nav.footerlink
						ul 
							li 
								a(href="#") Về cuộc thi
							li 
								a(href="#") Thể lệ
							li 
								a(href="#") Giải thưởng
			.col-custom
				section.footer-col
					.title Thực hiện ước mơ
					nav.footerlink
						ul 
							li 
								a(href="#") Tham gia
							li 
								a(href="#") Bình chọn
							li 
								a(href="#") Tiến độ
							li 
								a(href="#") Thông báo
			.col-custom
				section.footer-col
					.title Góc chia sẻ
					nav.footerlink
						ul 
							li 
								a(href="#") Chân dung nghề nghiệp
							li 
								a(href="#") Lời khuyên của chuyên gia
							li 
								a(href="#") Phát triển bản thân
			.col-custom
				section.footer-col
					.title Thumers
					nav.footerlink
						ul 
							li
								a(href="#") THUM face
							li 
								a(href="#") News
							li 
								a(href="#") Events
.up <i class="fa fa-arrow-up" aria-hidden="true"></i>