header
	section.headertop.clearfix
		.container
			.colright.clearfix
				.social.clearfix
					a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
				.search
					.searchbox
						input(type="text" placeholder="Tìm kiếm...")
						button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
				.login.clearfix
					ul 
						li
							a(href="#") <i class="material-icons">person_outline</i> Đăng nhập dự thi
						li
							a(href="#") <i class="material-icons">person_outline</i> Đăng nhập bình chọn
	section.headermain.clearfix
		.container
			.btn-showmenu.hidden-lg-up <i class="fa fa-bars" aria-hidden="true"></i>
			.overlay
			.sitelogo
				a(href="#")
					img(src="img/logo.png", alt="")
			nav.menu.clearfix
				ul.menulink
					li 
						a(href="#") Giới thiệu
						.menudes Khám phá chúng tôi là ai và chúng tôi làm gì
					li 
						a(href="#") Thực hiện ước mơ
						.menudes Đăng ký, bình chọn, kết quả, thông báo của cuộc thi
					li 
						a(href="#") Góc chia sẻ
						.menudes Góc chia sẻ và định hướng nghề nghiệp
					li 
						a(href="#") Thumers
						.menudes Tất tần tật các hoạt động của thực hiện ước mơ
			a.btn-signup(href="#") <i class="material-icons">mode_edit</i> Thí sinh đăng ký
